.error-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-family: 'Roboto';
    width: 400px;
    height: 400px;
    backdrop-filter: blur(5px);
    border: 5px ridge #c70039;
    border-radius: 25px;
    color: #c70039;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 50px;
    text-transform: uppercase;
}
.btn4 {
    padding: 10px;
    text-transform: uppercase;
    border: ridge;
    background-color: rgba(31, 28, 133, 0.68);
    border-radius: 25px;
    color: #ffff;
}
.btn4:hover {
    cursor: pointer;
}
