.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 30px;
    gap: 30px;
    background-color: #333;
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
a:active {
    color: #3535f5ea;
}

.about {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.image {
    height: 50px;
    width: 50px;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: flex;
    margin: 0;
    justify-content: space-around;
}
li a {
    display: inline-block;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.image {
    height: 40px;
    width: 35px;
}

.about {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 25px;
} */
