.center {
    padding: 15px 5px;
    /* display: flex; */
    background-color: transparent;
    border: 5px;
    border-color: #cef3ea;
}
.texto {
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    border: 10px;
    width: 20rem;
    height: 20px;
}
.boton {
    background-image: linear-gradient(to bottom right, red, yellow);
    text-align: center;
    margin-right: 15px;
    text-transform: uppercase;
    padding: 7px;
    width: 90px;
    height: 31px;
    border-radius: 5px;
}

.boton:hover {
    cursor: pointer;
}
/* .center {
    position: absolute;
    margin-left: 180rem;
    display: flex;
    margin-top: 30px;
}
.texto {
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
    border: 10px;
}
.boton {
    background-color: #81e26e;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
.boton:hover {
    background-color: #0da201;
    cursor: pointer;
}
 */
