.center {
    padding: 15px 5px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: 5px;
    border-color: #cef3ea;
}
.texto {
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    border: 10px;
    width: 20rem;
}
.boton {
    background-color: #81e26e;
    padding: 5px;
    border-radius: 5px;
}
.boton:hover {
    background-color: #0da201;
    cursor: pointer;
}
/* .center {
    position: absolute;
    margin-left: 180rem;
    display: flex;
    margin-top: 30px;
}
.texto {
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
    border: 10px;
}
.boton {
    background-color: #81e26e;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
.boton:hover {
    background-color: #0da201;
    cursor: pointer;
}
 */
